.recent-work {
    height: 618px;
    background-image: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
    z-index: -1;
}

.recent-work-title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.recent-work-title-container h2 {
    color: #FFF;
    font-weight: 400;
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 80px;
    padding-bottom: 24px;
    text-transform: capitalize;

}


.white-line {
    background-color: #FFFFFF;
    height: 8px;
    width: 100px;
}


.recent-work-images-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 268px);
    gap: 30px;
    justify-content: center;
    padding-top: 80px;
    padding-left: 151px;
    padding-right: 151px;
}

.recent-work-images-card {
    display: flex;
    flex-direction: column;
}

.recent-work-images-card img {
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #476E4D5A;
    position: relative;
}

.recent-work-images-card p {
    font-weight: 700;
    text-align: center;
    size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--blue);
    padding-top: 29px;
}

.recent-work-image {
    position: relative;
}

.recent-work-image-card-content {
    width: 243px;
    height: 216px;
    top: 11px;
    left: 13px;
    position: absolute;
    transition: 0.6s;
    background: #F9F6E5;
    opacity: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.recent-work-image-card-content img {
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none;

}


.recent-work-image-card-content:hover {
    opacity: 0.8;
}

.recent-work-image img {
    width: 100%;
    display: block;
}

@media only screen and (max-width: 1200px) {
    .recent-work{
        height: 1422px;
        background: linear-gradient(180deg, #2B4074 0%, rgba(255, 255, 255, 0) 100%);
    }
    .recent-work-images-cards-container{
        grid-template-columns:repeat(2,268px) ;
    }


}